h3 {
    color: black;
    font-size: large;
    font-family: 'Poppins' sans-serif;
}

.list ul {
    list-style: none;
}
form input .put {
    width: 30%;
}
form input .button {
    border-radius: 10px;
}